.App{
  background-color: rgb(252, 232, 255);
  background-size: cover;
  height:800px;
}

.avatar{
  width: 80%;
  height: 80%;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row::after{
  display: table;
  clear: both;
  content: "";
} 

.col-1{width: 25%;}

.col-2{
  width: 75%;
}

.simple-forme{
  padding-left: 20%;
  padding-right:20%
}

.lbl{
  padding-left: 2%;
}

.inpt{
  border-radius: 15px;
}